* {
  margin: 0
}
.App {
  text-align: center;
  
  font-family: monospace;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.dark {
  background-color: #282c34;
  
  color: white;
}



.light {
  color: #282c34;
  
  bakground-color: white;
}


.weather-card-container {
  display: flex;
  justify-content: space-around;
}


.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border: 1px solid rgb(126, 116, 116);
  border-radius: 3px;
}

.active {
  
  background-color: lightgray;
  border-width: 2px;
}

.day {}

.weather-icon{
  height: 100px;
  width: auto;
}

.temp { }


.temp-day {}
.temp-night {}